{
    "swagger": "2.0",
    "info": {
        "title": "Computer Vision API (2023-04-01-preview)",
        "version": "2023-04-01-preview",
        "description": "The Computer Vision API provides state-of-the-art algorithms to process images and return information. For example, it can be used to extract text using Read OCR, caption an image using descriptive natural language, detect objects, people, and more."
    },
    "host": "cognitiveuseprod.cognitiveservices.azure.com",
    "basePath": "/computervision",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "x-servers": [
        {
            "url": "https://cognitiveuseprod.cognitiveservices.azure.com"
        },
        {
            "url": "https://cognitiveuseprod.openai.azure.com"
        },
        {
            "url": "https://eastus.api.cognitive.microsoft.com"
        }
    ],
    "paths": {
        "/imageanalysis:analyze": {
            "post": {
                "description": "Analyze the input image. The request either contains image stream with any content type ['image/*', 'application/octet-stream'], or a JSON payload which includes an url property to be used to retrieve the image stream.",
                "operationId": "61d65934cd35050c20f73ab6",
                "summary": "Analyze",
                "parameters": [
                    {
                        "name": "features",
                        "in": "query",
                        "description": "The visual features requested: tags, objects, caption, denseCaptions, read, smartCrops, people. This parameter needs to be specified if the parameter \"model-name\" is not specified.",
                        "type": "array"
                    },
                    {
                        "name": "model-name",
                        "in": "query",
                        "description": "The name of the custom trained model. This parameter needs to be specified if the parameter \"features\" is not specified.",
                        "type": "string"
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "The desired language for output generation. If this parameter is not specified, the default value is \"en\". See https://aka.ms/cv-languages for a list of supported languages.",
                        "type": "string",
                        "default": "en"
                    },
                    {
                        "name": "smartcrops-aspect-ratios",
                        "in": "query",
                        "description": "A list of aspect ratios to use for smartCrops feature. Aspect ratios are calculated by dividing the target crop width by the height. Supported values are between 0.75 and 1.8 (inclusive). Multiple values should be comma-separated. If this parameter is not specified, the service will return one crop suggestion with an aspect ratio it sees fit between 0.5 and 2.0 (inclusive).",
                        "type": "string"
                    },
                    {
                        "name": "gender-neutral-caption",
                        "in": "query",
                        "description": "Boolean flag for enabling gender-neutral captioning for caption and denseCaptions features. If this parameter is not specified, the default value is \"false\".",
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "imageUrl",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ImageUrl"
                        },
                        "description": "A JSON document with a URL pointing to the image that is to be analyzed."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ImageAnalysisResult"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"customModelResult\": {\r\n    \"tagsResult\": {\r\n      \"values\": [\r\n        {\r\n          \"name\": \"string\",\r\n          \"confidence\": 0.0\r\n        }\r\n      ]\r\n    },\r\n    \"objectsResult\": {\r\n      \"values\": [\r\n        {\r\n          \"id\": \"string\",\r\n          \"boundingBox\": {\r\n            \"x\": 0,\r\n            \"y\": 0,\r\n            \"w\": 0,\r\n            \"h\": 0\r\n          },\r\n          \"tags\": [\r\n            {\r\n              \"name\": \"string\",\r\n              \"confidence\": 0.0\r\n            }\r\n          ]\r\n        }\r\n      ]\r\n    }\r\n  },\r\n  \"captionResult\": {\r\n    \"text\": \"string\",\r\n    \"confidence\": 0.0\r\n  },\r\n  \"objectsResult\": {\r\n    \"values\": [\r\n      {\r\n        \"id\": \"string\",\r\n        \"boundingBox\": {\r\n          \"x\": 0,\r\n          \"y\": 0,\r\n          \"w\": 0,\r\n          \"h\": 0\r\n        },\r\n        \"tags\": [\r\n          {\r\n            \"name\": \"string\",\r\n            \"confidence\": 0.0\r\n          }\r\n        ]\r\n      }\r\n    ]\r\n  },\r\n  \"readResult\": {\r\n    \"stringIndexType\": \"string\",\r\n    \"content\": \"string\",\r\n    \"pages\": [\r\n      {\r\n        \"height\": 0.0,\r\n        \"width\": 0.0,\r\n        \"angle\": 0.0,\r\n        \"pageNumber\": 0,\r\n        \"words\": [\r\n          {\r\n            \"content\": \"string\",\r\n            \"boundingBox\": [\r\n              0.0\r\n            ],\r\n            \"confidence\": 0.0,\r\n            \"span\": {\r\n              \"offset\": 0,\r\n              \"length\": 0\r\n            }\r\n          }\r\n        ],\r\n        \"spans\": [\r\n          {\r\n            \"offset\": 0,\r\n            \"length\": 0\r\n          }\r\n        ],\r\n        \"lines\": [\r\n          {\r\n            \"content\": \"string\",\r\n            \"boundingBox\": [\r\n              0.0\r\n            ],\r\n            \"spans\": [\r\n              {\r\n                \"offset\": 0,\r\n                \"length\": 0\r\n              }\r\n            ]\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"styles\": [\r\n      {\r\n        \"isHandwritten\": true,\r\n        \"spans\": [\r\n          {\r\n            \"offset\": 0,\r\n            \"length\": 0\r\n          }\r\n        ],\r\n        \"confidence\": 0.0\r\n      }\r\n    ]\r\n  },\r\n  \"denseCaptionsResult\": {\r\n    \"values\": [\r\n      {\r\n        \"text\": \"string\",\r\n        \"confidence\": 0.0,\r\n        \"boundingBox\": {\r\n          \"x\": 0,\r\n          \"y\": 0,\r\n          \"w\": 0,\r\n          \"h\": 0\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"modelVersion\": \"string\",\r\n  \"metadata\": {\r\n    \"width\": 0,\r\n    \"height\": 0\r\n  },\r\n  \"tagsResult\": {\r\n    \"values\": [\r\n      {\r\n        \"name\": \"string\",\r\n        \"confidence\": 0.0\r\n      }\r\n    ]\r\n  },\r\n  \"adultResult\": {\r\n    \"adult\": {\r\n      \"isMatch\": true,\r\n      \"confidence\": 0.0\r\n    },\r\n    \"racy\": {\r\n      \"isMatch\": true,\r\n      \"confidence\": 0.0\r\n    },\r\n    \"gore\": {\r\n      \"isMatch\": true,\r\n      \"confidence\": 0.0\r\n    }\r\n  },\r\n  \"smartCropsResult\": {\r\n    \"values\": [\r\n      {\r\n        \"aspectRatio\": 0.0,\r\n        \"boundingBox\": {\r\n          \"x\": 0,\r\n          \"y\": 0,\r\n          \"w\": 0,\r\n          \"h\": 0\r\n        }\r\n      }\r\n    ]\r\n  },\r\n  \"peopleResult\": {\r\n    \"values\": [\r\n      {\r\n        \"boundingBox\": {\r\n          \"x\": 0,\r\n          \"y\": 0,\r\n          \"w\": 0,\r\n          \"h\": 0\r\n        },\r\n        \"confidence\": 0.0\r\n      }\r\n    ]\r\n  }\r\n}"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/datasets/{name}": {
            "get": {
                "description": "Get information about a specific dataset.\r\n            \r\nStatus codes returned:\r\n- 200: Operation completed successfully.\r\n- 400: The request was malformed.\r\n- 404: A dataset with the specified name was not found.",
                "operationId": "63c227a15ddd17166ce42740",
                "summary": "GetDataset",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the dataset to get.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"annotationKind\": \"imageClassification\",\r\n  \"annotationFileUris\": [\r\n    \"string\"\r\n  ],\r\n  \"customProperties\": {},\r\n  \"name\": \"string\",\r\n  \"createdDateTime\": \"string\",\r\n  \"updatedDateTime\": \"string\",\r\n  \"eTag\": \"string\",\r\n  \"authentication\": {\r\n    \"kind\": \"none\",\r\n    \"sasToken\": \"string\"\r\n  }\r\n}"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "description": "Register a new dataset.\r\n            \r\nStatus codes returned:\r\n- 201: Operation completed successfully.\r\n- 400: The request was malformed.\r\n- 409: A dataset with the specified name already exists.",
                "operationId": "63c227a15ddd17166ce4273f",
                "summary": "RegisterDataset",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "A name that can be used to uniquely identify the dataset after it has been registered.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataset",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        },
                        "description": "Properties for the dataset, such as the list of URIs to the annotation files."
                    }
                ],
                "consumes": [
                    "application/json-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"annotationKind\": \"imageClassification\",\r\n  \"annotationFileUris\": [\r\n    \"string\"\r\n  ],\r\n  \"customProperties\": {},\r\n  \"name\": \"string\",\r\n  \"createdDateTime\": \"string\",\r\n  \"updatedDateTime\": \"string\",\r\n  \"eTag\": \"string\",\r\n  \"authentication\": {\r\n    \"kind\": \"none\",\r\n    \"sasToken\": \"string\"\r\n  }\r\n}"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Unregister a dataset.\r\n            \r\nStatus codes returned:\r\n- 204: Operation completed successfully.\r\n- 400: The request was malformed.\r\n- 404: A dataset with the specified name was not found.\r\n- 412: An If-Match header was provided, but the given ETag did not match the current ETag value.",
                "operationId": "63c227a15ddd17166ce42742",
                "summary": "UnregisterDataset",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the dataset to unregister.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "Optional ETag for the dataset to unregister.<br />\r\nIf an ETag is provided, then the dataset will be unregistered only if its current ETag value matches the given ETag.\r\nIf the ETag values don't match, then the unregister operation will fail with status code 412 (Precondition Failed).\r\nThis indicates that the dataset has been updated since the last time information for the dataset was obtained.<br />\r\nIf an ETag is not provided or its value is '*', then the dataset will always be unregistered regardless of the current ETag value.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "patch": {
                "description": "Update the properties of an existing dataset.\r\n            \r\nStatus codes returned:\r\n- 200: Operation completed successfully.\r\n- 400: The request was malformed.\r\n- 404: A dataset with the specified name was not found.\r\n- 412: An If-Match header was provided, but the given ETag did not match the current ETag value.",
                "operationId": "63c227a15ddd17166ce42741",
                "summary": "UpdateDataset",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the dataset to update.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "Optional ETag for the dataset to update.<br />\r\nIf an ETag is provided, then the dataset will be updated only if its current ETag value matches the given ETag.\r\nIf the ETag values don't match, then the update operation will fail with status code 412 (Precondition Failed).\r\nThis indicates that the dataset has been updated since the last time information for the dataset was obtained.<br />\r\nIf an ETag is not provided or its value is '*', then the dataset will always be updated regardless of the current ETag value.",
                        "type": "string"
                    },
                    {
                        "name": "dataset",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        },
                        "description": "Properties to update on the existing dataset."
                    }
                ],
                "consumes": [
                    "application/json-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Dataset"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"annotationKind\": \"imageClassification\",\r\n  \"annotationFileUris\": [\r\n    \"string\"\r\n  ],\r\n  \"customProperties\": {},\r\n  \"name\": \"string\",\r\n  \"createdDateTime\": \"string\",\r\n  \"updatedDateTime\": \"string\",\r\n  \"eTag\": \"string\",\r\n  \"authentication\": {\r\n    \"kind\": \"none\",\r\n    \"sasToken\": \"string\"\r\n  }\r\n}"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/datasets": {
            "get": {
                "description": "Get a list of datasets that have been registered.\r\n            \r\nStatus codes returned:\r\n- 200: Operation completed successfully.\r\n- 400: The request was malformed.",
                "operationId": "63c227a15ddd17166ce42743",
                "summary": "GetDatasets",
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Format - int32. Number of datasets to be skipped.",
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Format - int32. Number of datasets to be returned after skipping. The maximum allowed value is 30.",
                        "type": "integer",
                        "default": 10
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/DatasetApiModelCollectionApiModel"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"value\": [\r\n    {\r\n      \"annotationKind\": \"imageClassification\",\r\n      \"annotationFileUris\": [\r\n        \"string\"\r\n      ],\r\n      \"customProperties\": {},\r\n      \"name\": \"string\",\r\n      \"createdDateTime\": \"string\",\r\n      \"updatedDateTime\": \"string\",\r\n      \"eTag\": \"string\",\r\n      \"authentication\": {\r\n        \"kind\": \"none\",\r\n        \"sasToken\": \"string\"\r\n      }\r\n    }\r\n  ],\r\n  \"nextLink\": \"string\"\r\n}"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/imagecomposition:rectify": {
            "post": {
                "description": "Run the image rectification operation against an image with 4 control points provided in the parameter.",
                "operationId": "644aba14fb42681ae06f1b09",
                "summary": "ImageComposition_Rectify",
                "parameters": [
                    {
                        "name": "imageRectificationRequestApiModel",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ImageRectificationRequestApiModel"
                        },
                        "description": "Input image url and control points that are passed into rectification operation."
                    }
                ],
                "consumes": [
                    "application/json-patch+json"
                ],
                "produces": [
                    "image/jpeg"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Imagecomposition-rectifyPost200ImageJpegResponse"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/imagecomposition:stitch": {
            "post": {
                "description": "Run the image stitching operation against a sequence of images.",
                "operationId": "644aba14fb42681ae06f1b08",
                "summary": "ImageComposition_Stitch",
                "parameters": [
                    {
                        "name": "imageStitchingRequestApiModel",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ImageStitchingRequestApiModel"
                        },
                        "description": "Input images urls that pass into image stitching operation."
                    }
                ],
                "consumes": [
                    "application/json-patch+json"
                ],
                "produces": [
                    "image/jpeg"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Imagecomposition-stitchPost200ImageJpegResponse"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/models/{modelName}/evaluations/{evaluationName}": {
            "put": {
                "description": "Evaluate an existing model.\r\n            \r\nStatus codes returned:\r\n- 201: Operation completed successfully.\r\n- 400: The request was malformed.\r\n- 409: An evaluation with the specified name already exists.",
                "operationId": "63c227a15ddd17166ce42749",
                "summary": "EvaluateModel",
                "parameters": [
                    {
                        "name": "modelName",
                        "in": "path",
                        "description": "The name of the model to evaluate.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "evaluationName",
                        "in": "path",
                        "description": "A name that can be used to uniquely identify the evaluation after it has been created.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "modelEvaluation",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ModelEvaluation"
                        },
                        "description": "Properties for the evaluation, such as the name of the dataset to use to test the model."
                    }
                ],
                "consumes": [
                    "application/json-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/ModelEvaluation"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a model evaluation. A model evaluation can be deleted if it is in the 'Succeeded' or 'Failed' states.\r\n            \r\nStatus codes returned:\r\n- 204: Operation completed successfully.\r\n- 400: The request was malformed.\r\n- 404: A model evaluation with the specified name was not found.",
                "operationId": "63c227a15ddd17166ce4274b",
                "summary": "DeleteModelEvaluation",
                "parameters": [
                    {
                        "name": "modelName",
                        "in": "path",
                        "description": "The name of the model to delete the evaluation for.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "evaluationName",
                        "in": "path",
                        "description": "The name of the model evaluation to delete.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "get": {
                "description": "Get information about a specific model evaluation.\r\n            \r\nStatus codes returned:\r\n- 200: Operation completed successfully.\r\n- 400: The request was malformed.\r\n- 404: A model  evaluation with the specified name was not found.",
                "operationId": "63c227a15ddd17166ce4274a",
                "summary": "GetModelEvaluation",
                "parameters": [
                    {
                        "name": "modelName",
                        "in": "path",
                        "description": "The name of the model to get the evaluation for.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "evaluationName",
                        "in": "path",
                        "description": "The name of the model evaluation to get.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ModelEvaluation"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/models/{modelName}/evaluations": {
            "get": {
                "description": "Get a list of the available evaluations for a model.\r\n            \r\nStatus codes returned:\r\n- 200: Operation completed successfully.\r\n- 400: The request was malformed.",
                "operationId": "63c227a15ddd17166ce4274c",
                "summary": "GetModelEvaluations",
                "parameters": [
                    {
                        "name": "modelName",
                        "in": "path",
                        "description": "The name of the model to get evaluations for.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Format - int32. Number of evaluations to be skipped.",
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Format - int32. Number of evaluations to be returned after skipping. The maximum allowed value is 30.",
                        "type": "integer",
                        "default": 10
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ModelEvaluationApiModelCollectionApiModel"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/models/{name}:cancel": {
            "post": {
                "description": "Cancel model training.\r\n            \r\nStatus codes returned:\r\n- 202: Operation completed successfully.\r\n- 400: The request was malformed.\r\n- 404: A model with the specified name was not found.",
                "operationId": "63c227a15ddd17166ce42748",
                "summary": "CancelModelTraining",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the model to cancel training.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "202": {
                        "description": "Accepted"
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/models/{name}": {
            "put": {
                "description": "Start training a custom model.\r\n            \r\nStatus codes returned:\r\n- 201: Operation completed successfully.\r\n- 400: The request was malformed.\r\n- 409: A model with the specified name already exists.",
                "operationId": "63c227a15ddd17166ce42744",
                "summary": "TrainModel",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "A name that can be used to uniquely identify the model after it has been created.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Model"
                        },
                        "description": "Properties for the model, such as the name of the dataset to use to train the model."
                    }
                ],
                "consumes": [
                    "application/json-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Model"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a custom model. A model can be deleted if it is in one of the 'Succeeded', 'Failed', or 'Canceled' states.\r\nIf a model is in the 'NotStarted' or 'Training' state, cancel training and wait for cancellation to finish before deleting the model.\r\n            \r\nStatus codes returned:\r\n- 204: Operation completed successfully.\r\n- 400: The request was malformed.\r\n- 404: A model with the specified name was not found.",
                "operationId": "63c227a15ddd17166ce42746",
                "summary": "DeleteModel",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the model to delete.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "get": {
                "description": "Get information about a specific model.\r\n            \r\nStatus codes returned:\r\n- 200: Operation completed successfully.\r\n- 400: The request was malformed.\r\n- 404: A model with the specified name was not found.",
                "operationId": "63c227a15ddd17166ce42745",
                "summary": "GetModel",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name of the model to get.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Model"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/models": {
            "get": {
                "description": "Get a list of the available models.\r\n            \r\nStatus codes returned:\r\n- 200: Operation completed successfully.\r\n- 400: The request was malformed.",
                "operationId": "63c227a15ddd17166ce42747",
                "summary": "GetModels",
                "parameters": [
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Format - int32. Number of models to be skipped.",
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Format - int32. Number of models to be returned after skipping. The maximum allowed value is 30.",
                        "type": "integer",
                        "default": 10
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ModelApiModelCollectionApiModel"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/planogramcompliance:match": {
            "post": {
                "description": "Run the planogram matching operation against a planogram and a product understanding result.",
                "operationId": "644aba14fb42681ae06f1b0a",
                "summary": "PlanogramCompliance_Match",
                "parameters": [
                    {
                        "name": "planogramMatchingRequestApiModel",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/PlanogramMatchingRequestApiModel"
                        },
                        "description": "Input to pass into the planogram matching operation."
                    }
                ],
                "consumes": [
                    "application/json-patch+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/PlanogramMatchingResultApiModel"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"matchingResultPerPosition\": [\r\n    {\r\n      \"positionId\": \"string\",\r\n      \"detectedObject\": {\r\n        \"id\": \"string\",\r\n        \"boundingBox\": {\r\n          \"x\": 0,\r\n          \"y\": 0,\r\n          \"w\": 0,\r\n          \"h\": 0\r\n        },\r\n        \"tags\": [\r\n          {\r\n            \"name\": \"string\",\r\n            \"confidence\": 0.0\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/productrecognition/{modelName}/runs/{runName}": {
            "put": {
                "description": "Run the product recognition against a model with an image.",
                "operationId": "644aba14fb42681ae06f1b0b",
                "summary": "ProductRecognition_Create",
                "parameters": [
                    {
                        "name": "modelName",
                        "in": "path",
                        "description": "The name of the model to run product recognition with.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "runName",
                        "in": "path",
                        "description": "The name of the product recognition run.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/ProductRecognitionApiModel"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "description": "Delete a product recognition run. A product recognition run can be deleted if it is in the 'Succeeded' or 'Failed' states.\r\n            \r\nStatus codes returned:\r\n- 204: Operation completed successfully.\r\n- 400: The request was malformed.\r\n- 404: A product recognition run with the specified name was not found.",
                "operationId": "644aba14fb42681ae06f1b0d",
                "summary": "ProductRecognition_Delete",
                "parameters": [
                    {
                        "name": "modelName",
                        "in": "path",
                        "description": "The name of the model to delete the product recognition run for.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "runName",
                        "in": "path",
                        "description": "The name of the product recognition run.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "get": {
                "description": "Get information about a specific product recognition run.",
                "operationId": "644aba14fb42681ae06f1b0c",
                "summary": "ProductRecognition_Get",
                "parameters": [
                    {
                        "name": "modelName",
                        "in": "path",
                        "description": "The name of the model the product recognition run belongs to.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "runName",
                        "in": "path",
                        "description": "The name of the product recognition run.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ProductRecognitionApiModel"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/productrecognition/{modelName}/runs": {
            "get": {
                "description": "List all product recognition run of a model.",
                "operationId": "644aba14fb42681ae06f1b0e",
                "summary": "ProductRecognition_List",
                "parameters": [
                    {
                        "name": "modelName",
                        "in": "path",
                        "description": "The name of the model the product recognition runs belongs to.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "skip",
                        "in": "query",
                        "description": "Format - int32. Number of product recognition runs to be skipped.",
                        "type": "integer",
                        "default": 0
                    },
                    {
                        "name": "top",
                        "in": "query",
                        "description": "Format - int32. Number of product recognition runs to be returned after skipping. The maximum allowed value is 30.",
                        "type": "integer",
                        "default": 10
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ProductRecognitionApiModelCollectionApiModel"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "headers": {
                            "x-ms-error-code": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/imageanalysis:segment": {
            "post": {
                "description": "Analyze the input image without deployment. The request either contains an image stream with any content type ['image/*', 'application/octet-stream'], or a JSON payload which includes a url property to be used to retrieve the image stream. An image stream of content type 'image/png' is returned, where the pixel values depend on the analysis mode. The returned image has the same dimensions as the input image for modes: foregroundMatting. The returned image has the same aspect ratio and same dimensions as the input image up to a limit of 16 megapixels for modes: backgroundRemoval.",
                "operationId": "63e6b6d9217d201194bbecbd",
                "summary": "Segment",
                "parameters": [
                    {
                        "name": "mode",
                        "in": "query",
                        "description": "The analysis mode requested.",
                        "type": "string",
                        "enum": [
                            "backgroundRemoval",
                            "foregroundMatting"
                        ]
                    },
                    {
                        "name": "imageUrl",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ImageUrl"
                        },
                        "description": "A JSON document with a URL pointing to the image that is to be analyzed."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "image/png"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Imageanalysis-segmentPost200ImagePngResponse"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/retrieval:vectorizeImage": {
            "post": {
                "description": "Return vector from an image.",
                "operationId": "63ed8e8a5ddd171058e2e1f0",
                "summary": "VectorizeImage",
                "parameters": [
                    {
                        "name": "model-version",
                        "in": "query",
                        "description": "Model version.",
                        "type": "string"
                    },
                    {
                        "name": "imageUrl",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ImageUrl"
                        },
                        "description": "A JSON document with a URL pointing to the image that is to be analyzed."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SingleVectorResultApiModel"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"vector\": [\r\n    0.0\r\n  ],\r\n  \"modelVersion\": \"string\"\r\n}"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/retrieval:vectorizeText": {
            "post": {
                "description": "Return vector from a text.",
                "operationId": "63ed8e8a5ddd171058e2e1ef",
                "summary": "VectorizeText",
                "parameters": [
                    {
                        "name": "model-version",
                        "in": "query",
                        "description": "Model version.",
                        "type": "string"
                    },
                    {
                        "name": "vectorizeTextRequestApiModel",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/VectorizeTextRequestApiModel"
                        },
                        "description": "Request of VectorizeText."
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/SingleVectorResultApiModel"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"vector\": [\r\n    0.0\r\n  ],\r\n  \"modelVersion\": \"string\"\r\n}"
                        }
                    },
                    "500": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Dataset": {
            "description": "Describes a dataset, which represents a set of images and annotations that can be used for training or testing a model.",
            "required": [
                "annotationKind",
                "createdDateTime",
                "eTag",
                "name",
                "updatedDateTime"
            ],
            "type": "object",
            "properties": {
                "annotationKind": {
                    "description": "The kind of annotations contained in the annotation files.\r\nFor example, \"ImageClassification\" to specify that the annotation file contain object labels for training or testing a multiclass image classification model.",
                    "enum": [
                        "imageClassification",
                        "imageObjectDetection"
                    ],
                    "type": "string"
                },
                "annotationFileUris": {
                    "description": "List of absolute URIs to annotation files, each of which must be stored as a blob in an Azure Storage blob container.\r\nEach file must follow the COCO format for the specified AnnotationKind, with each image path being an absolute URI to a blob in a blob container.\r\nThe Computer Vision resource must have permission to read the annotation files and all referenced image files.\r\nThis can be done by turning on System managed identities for the Computer Vision resource, then assigning the identity to a role that has permission to read from the blob container containing the annotation and image files.",
                    "maxItems": 10,
                    "type": "array",
                    "items": {
                        "format": "uri",
                        "type": "string"
                    }
                },
                "customProperties": {
                    "description": "Dictionary of arbitrary key-value pairs for use by the application. A maximum of 10 key-value pairs are allowed.",
                    "maxLength": 10,
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "name": {
                    "description": "Read only. The name that is used to uniquely identify the dataset.",
                    "maxLength": 255,
                    "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._-]*$",
                    "type": "string"
                },
                "createdDateTime": {
                    "format": "date-time",
                    "description": "Read only. The date and time when the dataset was first registered, in UTC.",
                    "type": "string"
                },
                "updatedDateTime": {
                    "format": "date-time",
                    "description": "Read only. The date and time when the dataset was last updated, in UTC.",
                    "type": "string"
                },
                "eTag": {
                    "description": "Read only. The latest ETag for the dataset. May be used with the 'If-Match' header when updating or deleting a dataset.",
                    "type": "string"
                },
                "authentication": {
                    "$ref": "#/definitions/StorageAuthenticationSettingsApiModel"
                }
            },
            "example": "{\r\n  \"annotationKind\": \"imageClassification\",\r\n  \"annotationFileUris\": [\r\n    \"string\"\r\n  ],\r\n  \"customProperties\": {},\r\n  \"name\": \"string\",\r\n  \"createdDateTime\": \"string\",\r\n  \"updatedDateTime\": \"string\",\r\n  \"eTag\": \"string\",\r\n  \"authentication\": {\r\n    \"kind\": \"none\",\r\n    \"sasToken\": \"string\"\r\n  }\r\n}"
        },
        "DatasetApiModelCollectionApiModel": {
            "description": "Contains an array of results that may be paginated.",
            "required": [
                "value"
            ],
            "type": "object",
            "properties": {
                "value": {
                    "description": "The array of results.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Dataset"
                    }
                },
                "nextLink": {
                    "description": "A link to the next set of paginated results, if there are more results available; not present otherwise.",
                    "type": "string"
                }
            }
        },
        "ErrorResponse": {
            "description": "Response returned when an error occurs.",
            "required": [
                "error"
            ],
            "type": "object",
            "properties": {
                "error": {
                    "$ref": "#/definitions/ErrorResponseDetails"
                }
            }
        },
        "ErrorResponseDetails": {
            "description": "Error info.",
            "required": [
                "code",
                "message"
            ],
            "type": "object",
            "properties": {
                "code": {
                    "description": "Error code.",
                    "type": "string"
                },
                "message": {
                    "description": "Error message.",
                    "type": "string"
                },
                "target": {
                    "description": "Target of the error.",
                    "type": "string"
                },
                "details": {
                    "description": "List of detailed errors.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ErrorResponseDetails"
                    }
                },
                "innererror": {
                    "$ref": "#/definitions/ErrorResponseInnerError"
                }
            }
        },
        "ErrorResponseInnerError": {
            "description": "Detailed error.",
            "required": [
                "code",
                "message"
            ],
            "type": "object",
            "properties": {
                "code": {
                    "description": "Error code.",
                    "type": "string"
                },
                "message": {
                    "description": "Error message.",
                    "type": "string"
                },
                "innererror": {
                    "$ref": "#/definitions/ErrorResponseInnerError"
                }
            }
        },
        "Model": {
            "description": "Describes a training run for training a custom model.",
            "required": [
                "createdDateTime",
                "name",
                "status",
                "trainingParameters",
                "updatedDateTime"
            ],
            "type": "object",
            "properties": {
                "trainingParameters": {
                    "$ref": "#/definitions/TrainingParameters"
                },
                "name": {
                    "description": "Read only. The name that is used to uniquely identify the training run.",
                    "maxLength": 255,
                    "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._-]*$",
                    "type": "string"
                },
                "createdDateTime": {
                    "format": "date-time",
                    "description": "Read only. The date and time when the training run was first created, in UTC.",
                    "type": "string"
                },
                "updatedDateTime": {
                    "format": "date-time",
                    "description": "Read only. The date and time when the training run was last updated, in UTC.",
                    "type": "string"
                },
                "status": {
                    "description": "Read only. The current state of the training run.",
                    "enum": [
                        "notStarted",
                        "training",
                        "succeeded",
                        "failed",
                        "cancelling",
                        "cancelled"
                    ],
                    "type": "string"
                },
                "trainingCostInMinutes": {
                    "format": "int32",
                    "description": "Read only. Actual training cost consumed, in minutes. Present only if the training run as completed.",
                    "type": "integer",
                    "readOnly": true
                },
                "error": {
                    "$ref": "#/definitions/ErrorResponseDetails"
                },
                "modelPerformance": {
                    "$ref": "#/definitions/ModelPerformance"
                },
                "evaluationParameters": {
                    "$ref": "#/definitions/ModelEvaluationParameters"
                }
            }
        },
        "ModelApiModelCollectionApiModel": {
            "description": "Contains an array of results that may be paginated.",
            "required": [
                "value"
            ],
            "type": "object",
            "properties": {
                "value": {
                    "description": "The array of results.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Model"
                    }
                },
                "nextLink": {
                    "description": "A link to the next set of paginated results, if there are more results available; not present otherwise.",
                    "type": "string"
                }
            }
        },
        "ModelEvaluation": {
            "description": "Describes an evaluation run for evaluating the accuracy of a model using a test set.",
            "required": [
                "createdDateTime",
                "evaluationParameters",
                "modelName",
                "name",
                "status",
                "updatedDateTime"
            ],
            "type": "object",
            "properties": {
                "name": {
                    "description": "Read only. The name that is used to uniquely identify the evaluation run.",
                    "maxLength": 255,
                    "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._-]*$",
                    "type": "string"
                },
                "modelName": {
                    "description": "Read only. The model to evaluate.",
                    "maxLength": 255,
                    "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._-]*$",
                    "type": "string"
                },
                "createdDateTime": {
                    "format": "date-time",
                    "description": "Read only. The date and time when the evaluation run was first created, in UTC.",
                    "type": "string"
                },
                "updatedDateTime": {
                    "format": "date-time",
                    "description": "Read only. The date and time when the evaluation run was last updated, in UTC.",
                    "type": "string"
                },
                "status": {
                    "description": "Read only. The current state of the evaluation run.",
                    "enum": [
                        "notStarted",
                        "running",
                        "succeeded",
                        "failed"
                    ],
                    "type": "string"
                },
                "evaluationParameters": {
                    "$ref": "#/definitions/ModelEvaluationParameters"
                },
                "error": {
                    "$ref": "#/definitions/ErrorResponseDetails"
                },
                "modelPerformance": {
                    "$ref": "#/definitions/ModelPerformance"
                }
            }
        },
        "ModelEvaluationApiModelCollectionApiModel": {
            "description": "Contains an array of results that may be paginated.",
            "required": [
                "value"
            ],
            "type": "object",
            "properties": {
                "value": {
                    "description": "The array of results.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ModelEvaluation"
                    }
                },
                "nextLink": {
                    "description": "A link to the next set of paginated results, if there are more results available; not present otherwise.",
                    "type": "string"
                }
            }
        },
        "ModelEvaluationParameters": {
            "description": "Parameters for specifying how a model is evaluated.",
            "type": "object",
            "properties": {
                "testDatasetName": {
                    "description": "The dataset name used for testing.",
                    "maxLength": 255,
                    "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._-]*$",
                    "type": "string"
                }
            }
        },
        "ModelPerformance": {
            "description": "Performance metrics for a custom trained model.",
            "required": [
                "tagPerformance"
            ],
            "type": "object",
            "properties": {
                "accuracyTop1": {
                    "format": "double",
                    "description": "Read only. For multiclass classification models. The proportion of test samples where the ground truth class matches the predicted class.",
                    "type": "number",
                    "readOnly": true
                },
                "accuracyTop5": {
                    "format": "double",
                    "description": "Read only. For multiclass classification models. The proportion of test samples where the ground truth class is in the top five predicted classes.",
                    "type": "number",
                    "readOnly": true
                },
                "averagePrecision": {
                    "format": "double",
                    "description": "Read only. A measure of the model performance, it summarizes the precision and recall at different confidence thresholds.",
                    "type": "number",
                    "readOnly": true
                },
                "calibrationECE": {
                    "format": "double",
                    "description": "Read only. For multiclass classification models. Expected calibration error.",
                    "type": "number",
                    "readOnly": true
                },
                "meanAveragePrecision30": {
                    "format": "double",
                    "description": "Read only. For object detection models. Mean average precision at a threshold of 30%.",
                    "type": "number",
                    "readOnly": true
                },
                "meanAveragePrecision50": {
                    "format": "double",
                    "description": "Read only. For object detection models. Mean average precision at a threshold of 50%.",
                    "type": "number",
                    "readOnly": true
                },
                "meanAveragePrecision75": {
                    "format": "double",
                    "description": "Read only. For object detection models. Mean average precision at a threshold of 75%.",
                    "type": "number",
                    "readOnly": true
                },
                "tagPerformance": {
                    "description": "Read only. Performance metrics for each tag recognized by the model.",
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/ModelTagPerformance"
                    }
                }
            }
        },
        "ModelTagPerformance": {
            "description": "Performance metrics for each tag recognized by a custom trained model.",
            "type": "object",
            "properties": {
                "accuracy": {
                    "format": "double",
                    "description": "Read only. For multiclass models. Tag accuracy.",
                    "type": "number",
                    "readOnly": true
                },
                "averagePrecision50": {
                    "format": "double",
                    "description": "Read only. For object detection models. Average precision at a threshold of 50%.",
                    "type": "number",
                    "readOnly": true
                }
            }
        },
        "StorageAuthenticationSettingsApiModel": {
            "description": "Describes the storage authentication settings.",
            "required": [
                "kind"
            ],
            "type": "object",
            "properties": {
                "kind": {
                    "description": "The storage authentication kind.",
                    "enum": [
                        "none",
                        "managedIdentity",
                        "sas"
                    ],
                    "type": "string"
                },
                "sasToken": {
                    "description": "Optional. The sas token to access container. Only needed when Kind = Sas.",
                    "type": "string"
                }
            }
        },
        "TrainingParameters": {
            "description": "Parameters for specifying how a training run trains a custom model.",
            "required": [
                "timeBudgetInHours",
                "trainingDatasetName"
            ],
            "type": "object",
            "properties": {
                "trainingDatasetName": {
                    "description": "The dataset name used for training.",
                    "maxLength": 255,
                    "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._-]*$",
                    "type": "string"
                },
                "timeBudgetInHours": {
                    "format": "int32",
                    "description": "Time budget for training, in hours. The minimum allowed value is 1, and the maximum allowed value is 336 hours for GenericClassifier, 1344 hours for GenericDetector.\r\nThis is the maximum amount of compute time that will be spent to train the model.",
                    "maximum": 1344,
                    "minimum": 1,
                    "type": "integer"
                },
                "modelKind": {
                    "description": "Model kind.",
                    "enum": [
                        "Product-Recognizer",
                        "Generic-Classifier",
                        "Generic-Detector"
                    ],
                    "type": "string"
                }
            }
        },
        "AdultMatch": {
            "description": "An object describing adult content match.",
            "required": [
                "confidence",
                "isMatch"
            ],
            "type": "object",
            "properties": {
                "isMatch": {
                    "description": "A value indicating if the image is matched adult content.",
                    "type": "boolean"
                },
                "confidence": {
                    "format": "double",
                    "description": "A value indicating the confidence level of matched adult content.",
                    "maximum": 1,
                    "minimum": 0,
                    "type": "number"
                }
            }
        },
        "AdultResult": {
            "description": "An object describing whether the image contains adult-oriented content and/or is racy.",
            "required": [
                "adult",
                "gore",
                "racy"
            ],
            "type": "object",
            "properties": {
                "adult": {
                    "$ref": "#/definitions/AdultMatch"
                },
                "racy": {
                    "$ref": "#/definitions/AdultMatch"
                },
                "gore": {
                    "$ref": "#/definitions/AdultMatch"
                }
            }
        },
        "BoundingBox": {
            "description": "A bounding box for an area inside an image.",
            "required": [
                "h",
                "w",
                "x",
                "y"
            ],
            "type": "object",
            "properties": {
                "x": {
                    "format": "int32",
                    "description": "Left-coordinate of the top left point of the area, in pixels.",
                    "minimum": 0,
                    "type": "integer"
                },
                "y": {
                    "format": "int32",
                    "description": "Top-coordinate of the top left point of the area, in pixels.",
                    "minimum": 0,
                    "type": "integer"
                },
                "w": {
                    "format": "int32",
                    "description": "Width measured from the top-left point of the area, in pixels.",
                    "minimum": 1,
                    "type": "integer"
                },
                "h": {
                    "format": "int32",
                    "description": "Height measured from the top-left point of the area, in pixels.",
                    "minimum": 1,
                    "type": "integer"
                }
            }
        },
        "CaptionResult": {
            "description": "A brief description of what the image depicts.",
            "required": [
                "confidence",
                "text"
            ],
            "type": "object",
            "properties": {
                "text": {
                    "description": "The text of the caption.",
                    "minLength": 1,
                    "type": "string"
                },
                "confidence": {
                    "format": "double",
                    "description": "The level of confidence the service has in the caption.",
                    "maximum": 1,
                    "minimum": 0,
                    "type": "number"
                }
            }
        },
        "CropRegion": {
            "description": "A region identified for smart cropping. There will be one region returned for each requested aspect ratio.",
            "required": [
                "aspectRatio",
                "boundingBox"
            ],
            "type": "object",
            "properties": {
                "aspectRatio": {
                    "format": "double",
                    "description": "The aspect ratio of the crop region.",
                    "type": "number"
                },
                "boundingBox": {
                    "$ref": "#/definitions/BoundingBox"
                }
            }
        },
        "DenseCaption": {
            "description": "A brief description of what the image depicts.",
            "required": [
                "confidence",
                "text"
            ],
            "type": "object",
            "properties": {
                "text": {
                    "description": "The text of the caption.",
                    "minLength": 1,
                    "type": "string"
                },
                "confidence": {
                    "format": "double",
                    "description": "The level of confidence the service has in the caption.",
                    "maximum": 1,
                    "minimum": 0,
                    "type": "number"
                },
                "boundingBox": {
                    "$ref": "#/definitions/BoundingBox"
                }
            }
        },
        "DenseCaptionsResult": {
            "description": "A list of captions.",
            "required": [
                "values"
            ],
            "type": "object",
            "properties": {
                "values": {
                    "description": "A list of captions.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DenseCaption"
                    }
                }
            }
        },
        "Description": {
            "description": "A brief description of what the image depicts.",
            "required": [
                "confidence",
                "text"
            ],
            "type": "object",
            "properties": {
                "text": {
                    "description": "The text of the caption.",
                    "minLength": 1,
                    "type": "string"
                },
                "confidence": {
                    "format": "double",
                    "description": "The level of confidence the service has in the caption.",
                    "maximum": 1,
                    "minimum": 0,
                    "type": "number"
                }
            }
        },
        "DescriptionResult": {
            "description": "A list of descriptions sorted by confidence level.",
            "required": [
                "values"
            ],
            "type": "object",
            "properties": {
                "values": {
                    "description": "A list of descriptions sorted by confidence level.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Description"
                    }
                }
            }
        },
        "DetectedObject": {
            "description": "Describes a detected object in an image.",
            "required": [
                "boundingBox",
                "tags"
            ],
            "type": "object",
            "properties": {
                "id": {
                    "description": "Id of the detected object.",
                    "minLength": 1,
                    "type": "string"
                },
                "boundingBox": {
                    "$ref": "#/definitions/BoundingBox"
                },
                "tags": {
                    "description": "Classification confidences of the detected object.",
                    "minItems": 1,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Tag"
                    }
                }
            }
        },
        "DetectedPerson": {
            "description": "A person detected in an image.",
            "required": [
                "boundingBox",
                "confidence"
            ],
            "type": "object",
            "properties": {
                "boundingBox": {
                    "$ref": "#/definitions/BoundingBox"
                },
                "confidence": {
                    "format": "double",
                    "description": "Confidence score of having observed the person in the image, as a value ranging from 0 to 1.",
                    "maximum": 1,
                    "minimum": 0,
                    "type": "number"
                }
            }
        },
        "DocumentLanguage": {
            "description": "An object representing the detected language for a given text span.",
            "required": [
                "confidence",
                "languageCode",
                "spans"
            ],
            "type": "object",
            "properties": {
                "spans": {
                    "description": "Location of the text elements in the concatenated content the language applies to.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DocumentSpan"
                    }
                },
                "languageCode": {
                    "description": "Detected language. Value may an ISO 639-1 language code (ex. \"en\", \"fr\") or BCP 47 language tag (ex. \"zh-Hans\").",
                    "minLength": 1,
                    "type": "string"
                },
                "confidence": {
                    "format": "double",
                    "description": "Confidence of correctly identifying the language.",
                    "maximum": 1,
                    "minimum": 0,
                    "type": "number"
                }
            }
        },
        "DocumentLine": {
            "description": "A content line object consisting of an adjacent sequence of content elements, such as words and selection marks.",
            "required": [
                "boundingBox",
                "content",
                "spans"
            ],
            "type": "object",
            "properties": {
                "content": {
                    "description": "Concatenated content of the contained elements in reading order.",
                    "minLength": 1,
                    "type": "string"
                },
                "boundingBox": {
                    "description": "Bounding box of the line.",
                    "type": "array",
                    "items": {
                        "format": "double",
                        "type": "number"
                    }
                },
                "spans": {
                    "description": "Location of the line in the reading order concatenated content.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DocumentSpan"
                    }
                }
            }
        },
        "DocumentPage": {
            "description": "The content and layout elements extracted from a page from the input.",
            "required": [
                "angle",
                "height",
                "lines",
                "pageNumber",
                "spans",
                "width",
                "words"
            ],
            "type": "object",
            "properties": {
                "height": {
                    "format": "double",
                    "description": "The height of the image/PDF in pixels/inches, respectively.",
                    "type": "number"
                },
                "width": {
                    "format": "double",
                    "description": "The width of the image/PDF in pixels/inches, respectively.",
                    "type": "number"
                },
                "angle": {
                    "format": "double",
                    "description": "The general orientation of the content in clockwise direction, measured in degrees between (-180, 180].",
                    "type": "number"
                },
                "pageNumber": {
                    "format": "int32",
                    "description": "1-based page number in the input document.",
                    "type": "integer"
                },
                "words": {
                    "description": "Extracted words from the page.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DocumentWord"
                    }
                },
                "spans": {
                    "description": "Location of the page in the reading order concatenated content.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DocumentSpan"
                    }
                },
                "lines": {
                    "description": "Extracted lines from the page, potentially containing both textual and visual elements.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DocumentLine"
                    }
                }
            }
        },
        "DocumentSpan": {
            "description": "Contiguous region of the concatenated content property, specified as an offset and length.",
            "required": [
                "length",
                "offset"
            ],
            "type": "object",
            "properties": {
                "offset": {
                    "format": "int32",
                    "description": "Zero-based index of the content represented by the span.",
                    "type": "integer"
                },
                "length": {
                    "format": "int32",
                    "description": "Number of characters in the content represented by the span.",
                    "type": "integer"
                }
            }
        },
        "DocumentStyle": {
            "description": "An object representing observed text styles.",
            "required": [
                "spans"
            ],
            "type": "object",
            "properties": {
                "isHandwritten": {
                    "description": "Is content handwritten or not.",
                    "type": "boolean"
                },
                "spans": {
                    "description": "Location of the text elements in the concatenated content the style applies to.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DocumentSpan"
                    }
                },
                "confidence": {
                    "format": "double",
                    "description": "Confidence of correctly identifying the style.",
                    "type": "number"
                }
            }
        },
        "DocumentWord": {
            "description": "A word object consisting of a contiguous sequence of characters. For non-space delimited languages,\r\nsuch as Chinese, Japanese, and Korean, each character is represented as its own word.",
            "required": [
                "boundingBox",
                "confidence",
                "content",
                "span"
            ],
            "type": "object",
            "properties": {
                "content": {
                    "description": "Text content of the word.",
                    "minLength": 1,
                    "type": "string"
                },
                "boundingBox": {
                    "description": "Bounding box of the word.",
                    "type": "array",
                    "items": {
                        "format": "double",
                        "type": "number"
                    }
                },
                "confidence": {
                    "format": "double",
                    "description": "Confidence of correctly extracting the word.",
                    "type": "number"
                },
                "span": {
                    "$ref": "#/definitions/DocumentSpan"
                }
            }
        },
        "FixtureApiModel": {
            "description": "Describes a fixture in a planogram.",
            "required": [
                "h",
                "id",
                "w",
                "x",
                "y"
            ],
            "type": "object",
            "properties": {
                "id": {
                    "description": "Id of the fixture.",
                    "minLength": 1,
                    "type": "string"
                },
                "w": {
                    "format": "double",
                    "description": "Width of the fixture.",
                    "type": "number"
                },
                "h": {
                    "format": "double",
                    "description": "Height of the fixture.",
                    "type": "number"
                },
                "x": {
                    "format": "double",
                    "description": "Left offset from the origin, in unit of in inches or centimeters.",
                    "minimum": 0,
                    "type": "number"
                },
                "y": {
                    "format": "double",
                    "description": "Top offset from the origin, in unit of in inches or centimeters.",
                    "minimum": 0,
                    "type": "number"
                }
            }
        },
        "ImageAnalysisResult": {
            "description": "Describe the combined results of different types of image analysis.",
            "required": [
                "metadata",
                "modelVersion"
            ],
            "type": "object",
            "properties": {
                "customModelResult": {
                    "$ref": "#/definitions/ImagePredictionResult"
                },
                "captionResult": {
                    "$ref": "#/definitions/CaptionResult"
                },
                "objectsResult": {
                    "$ref": "#/definitions/ObjectsResult"
                },
                "readResult": {
                    "$ref": "#/definitions/ReadResult"
                },
                "denseCaptionsResult": {
                    "$ref": "#/definitions/DenseCaptionsResult"
                },
                "modelVersion": {
                    "description": "Model Version.",
                    "minLength": 1,
                    "type": "string"
                },
                "metadata": {
                    "$ref": "#/definitions/ImageMetadataApiModel"
                },
                "tagsResult": {
                    "$ref": "#/definitions/TagsResult"
                },
                "adultResult": {
                    "$ref": "#/definitions/AdultResult"
                },
                "smartCropsResult": {
                    "$ref": "#/definitions/SmartCropsResult"
                },
                "peopleResult": {
                    "$ref": "#/definitions/PeopleResult"
                }
            }
        },
        "ImageMetadataApiModel": {
            "description": "The image metadata information such as height and width.",
            "required": [
                "height",
                "width"
            ],
            "type": "object",
            "properties": {
                "width": {
                    "format": "int32",
                    "description": "The width of the image in pixels.",
                    "minimum": 1,
                    "type": "integer"
                },
                "height": {
                    "format": "int32",
                    "description": "The height of the image in pixels.",
                    "minimum": 1,
                    "type": "integer"
                }
            }
        },
        "ImagePredictionResult": {
            "description": "Describes the prediction result of an image.",
            "required": [
                "objectsResult",
                "tagsResult"
            ],
            "type": "object",
            "properties": {
                "tagsResult": {
                    "$ref": "#/definitions/TagsResult"
                },
                "objectsResult": {
                    "$ref": "#/definitions/ObjectsResult"
                }
            }
        },
        "ImageRectificationControlPointsApiModel": {
            "description": "Four corner control points for rectification. The origin is at top-left.",
            "required": [
                "bottomLeft",
                "bottomRight",
                "topLeft",
                "topRight"
            ],
            "type": "object",
            "properties": {
                "topLeft": {
                    "$ref": "#/definitions/NormalizedCoordinateApiModel"
                },
                "topRight": {
                    "$ref": "#/definitions/NormalizedCoordinateApiModel"
                },
                "bottomLeft": {
                    "$ref": "#/definitions/NormalizedCoordinateApiModel"
                },
                "bottomRight": {
                    "$ref": "#/definitions/NormalizedCoordinateApiModel"
                }
            }
        },
        "ImageRectificationRequestApiModel": {
            "description": "Image rectification input.",
            "required": [
                "controlPoints",
                "url"
            ],
            "type": "object",
            "properties": {
                "url": {
                    "format": "uri",
                    "description": "Source image blob URL.",
                    "type": "string"
                },
                "controlPoints": {
                    "$ref": "#/definitions/ImageRectificationControlPointsApiModel"
                }
            },
            "example": "{\r\n  \"url\": \"string\",\r\n  \"controlPoints\": {\r\n    \"topLeft\": {\r\n      \"x\": 0.0,\r\n      \"y\": 0.0\r\n    },\r\n    \"topRight\": {\r\n      \"x\": 0.0,\r\n      \"y\": 0.0\r\n    },\r\n    \"bottomLeft\": {\r\n      \"x\": 0.0,\r\n      \"y\": 0.0\r\n    },\r\n    \"bottomRight\": {\r\n      \"x\": 0.0,\r\n      \"y\": 0.0\r\n    }\r\n  }\r\n}"
        },
        "ImageStitchingRequestApiModel": {
            "description": "Image stitching input.",
            "required": [
                "images"
            ],
            "type": "object",
            "properties": {
                "images": {
                    "description": "Source images to stitch.",
                    "maxItems": 20,
                    "minItems": 2,
                    "type": "array",
                    "items": {
                        "format": "uri",
                        "type": "string"
                    }
                }
            },
            "example": "{\r\n  \"images\": [\r\n    \"string\"\r\n  ]\r\n}"
        },
        "ImageUrl": {
            "description": "A JSON document with a URL pointing to the image that is to be analyzed.",
            "required": [
                "url"
            ],
            "type": "object",
            "properties": {
                "url": {
                    "description": "Publicly reachable URL of an image.",
                    "type": "string"
                }
            },
            "example": "{\r\n  \"url\": \"string\"\r\n}"
        },
        "NormalizedCoordinateApiModel": {
            "description": "Normalized XY-coordinate.",
            "required": [
                "x",
                "y"
            ],
            "type": "object",
            "properties": {
                "x": {
                    "format": "double",
[...]
